.top li a{
    color:rgb(0, 0, 0) !important;
}
.bottom li a{
    color:rgb(255, 255, 255) 
}
#logout{
    color: #000;
}
.col-megamenu li a {
    color:rgb(0, 0, 0) !important;
}
.bottom .megamenu{ padding: 1rem; }
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	
	.bottom .has-megamenu{position:static!important;}
	.bottom .megamenu{left:0; right:0; width:100%; margin-top:0;  }
	
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
.latrecipes {
    background-color: #f0f5f0;
}
.abouticon {
    
    margin-top: 50px;
}
.carousel {
   margin-left: 80px; 
   margin-right: 80px;
}	
.bottom {
    background: green;
}
.shopHeader {
    margin-left: 80px;
    margin-top: 55px;
}
.shopHeader p {
    font-family: 'Kaushan Script', cursive;
    font-size: 25px; 
}
.phrase{
    font-family: 'Kaushan Script', cursive;
}
.navbar-brand img{
    margin-left: 80px;
}
.topnav li button {
    color:rgb(0, 0, 0) !important;
    margin-right: 50px;
}
.topnav li i {
    font-family: 'Kaushan Script', cursive;
    margin-right: 50px;
}
.navbar .nav-item {
    position: relative;
} 
.navbar{
    padding: 0;
}
.navbar .nav .nav-link{
    padding: 1em;
}
.navbar .nav-item::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    background-color: green;
    width: 0;
    height: 4px;
} 
.navbar .nav-item:hover:after{
   width: 100%; 
}
.bottom .nav-link {
    color: rgb(252, 252, 252);
}

.bottom .nav-item>a:hover {
    color: rgb(0, 0, 0);
}

/*code to change background color*/
.bottom>.active>a {
    background-color: #C0C0C0;
    color: green;
}
.container-fluid .row .col-md-6{
    background-image: url('assets/img/groceries.jpg');
}
.sellers {
    margin-top: 100px;
}
.form-inputs{
    position:relative;
}
.form-inputs .form-control{
    height:45px; 
}

.form-inputs .form-control:focus{
    box-shadow:none;
    border:1px solid #000;
}

.form-inputs i{
    position:absolute;
    right:10px;
    top:15px;
}

.shop-bag{
    background-color:green;
    color:#fff;
    height:30px;
    width:50px;
    font-size:25px;
    display:flex;
    border-radius:50%;
    align-items:center;
    justify-content:center;
}

.qty {
    font-size:12px;
}
 .increase {
    width: 40px;
    height: 30px;
    font-size: 10px;
    background-color: green;
    color: honeydew;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 12px;
    margin-right: 3px;
}
.decrease {
    width: 40px;
    height: 30px;
    font-size: 10px;
    background-color: green;
    color: honeydew;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 12px; 
    margin-left: 3px;
}
.increase span {
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box input {
    width: 40px;
    padding: 5px 10px;
    border-radius: 5px;
}
.footer{
    margin-top: 50px;
    background-color: #f0f5f0;
}
.show-cart li {
    display: flex;
  }
  table.main {
    border-collapse: separate;
    border-spacing: 20px;
}
td {
    padding: 20px;
}
.dropdown{
    float:right;
    padding-right: 30px;
    } 
    .btn{
    border:0px;
    margin:10px 0px;
    box-shadow:none !important; 
    } 
    .dropdown .dropdown-menu{
    padding:5px;
    top:0px !important;
    width:350px !important;
    left:-200px !important;
    box-shadow:0px 5px 30px black;
    }

 
   .detail{
    margin-top: 20px;
   }
   ul.rig {
    list-style: none;
    font-size: 0px;
    margin-left: -2.5%;
    /* should match li left margin */
  }
  
  ul.rig li {
    display: inline-block;
    padding: 10px; 
    background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 0px #000000;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-left:14px;
  }
  
  ul.rig li img {
    max-width: 60%;
    height: auto;
    margin: 0 0 10px;
  }
  
  ul.rig li h3 {
    margin: 0 0 10px;
  }
  
  ul.rig li p {
    font-size: 1.0em;
    line-height: 1.5em;
    color: #000000;
  }
  
  
  /* class for 2 columns */
  
  ul.rig.columns-2 li {
    width: 47.5%;
    /* this value + 2.5 should = 50% */
  }
  
  
  /* class for 3 columns */
  
  ul.rig.columns-3 li {
    width: 30.83%;
    /* this value + 2.5 should = 33% */
  }
  
  
  /* class for 4 columns */
  
  ul.rig.columns-4 li {
    width: 22.5%;
    text-align:Center;
    /* this value + 2.5 should = 25% */
  }
  @media (max-width: 680px) {
    ul.grid-nav li {
      display: inline-block;
      margin: 0 0 5px;
    }
    ul.grid-nav li a {
      display: inline-block;
      margin: 0 0 5px;
    }
    ul.rig {
      margin-left: 0;
    }
    ul.rig li {
      width: 100% !important;
      /* over-ride all li styles */
      margin: 0 0 10px;
    }
  }
  /* table img{
    height:100px!important;
    width:100px!important;
} */
.total-header-section{
    border-bottom:1px solid #d2d2d2;
    }
    .total-section p{
    margin-bottom:20px;
    }
    .cart-detail{
        padding:15px 0px;
        }
        .cart-detail-img img{
        width:100%;
        height:100%;
        padding-left:15px;
        }
        .cart-detail-product p{
        margin:0px;
        
        font-weight:500;
        }
        .cart-detail .price{
        font-size:12px;
        margin-right:10px;
        font-weight:500;
        }
        .cart-detail .count{
        color:#C2C2DC;
        }
        .checkout{
        border-top:1px solid #d2d2d2;	
        padding-top: 15px;
        }
        .checkout .btn-primary{
        border-radius:50px;
        height:50px;
        }
        .dropdown-menu:before{
        content: " ";
        position:absolute;
        /* top:-20px; */
        right:40px;
        border:10px solid transparent;
        border-bottom-color:#fff; 
        }
        .sidebar {
            grid-column: 2;
            margin: 5px;
            padding: 5px;
          }
        
        .product-image{
            height: 150px!important;
            width: 100px!important;
        }
        
        .cart-detail-img img {
            height: 71px!important; 
            width: 65px!important; 
        }

.poster{

    margin-top: 200px;
}
.img-fluid{
    height: min-content;
}

